.bg-main-container{
    margin: 0% 5% 5% 5%;
    padding: 1%;
    border:2px solid gray;
    min-width: fit-content;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.reactions-contianer{
    align-self: flex-end;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}

.reaction-button{
    margin-right: 2rem;
    padding: 1rem;
    font-size: 1rem;
}

.reaction-count{
    margin-top: 10%;
    background-color: #250245;
    width: 50%;
    text-align: center;
    border-radius: 50px;
    padding: 10%;
}

.posts-header{
    text-align: center;
    padding-top: 5%;
    font-size:4rem;
    
}

.blogs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5%;
    border: 2px solid gray;
    width: 25%;
    padding: 2%;
}

label{
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}

input{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 2rem;
}

select{
    width: 100%;
    height: 2rem;
}
textarea{
    margin-bottom: 1rem;
    width: 80%;
    min-height: 8rem;
}

.delete-post{
    padding:1rem;
}

button{
    cursor: pointer;
}

.save-post-button{
    padding: 2% 4% 2% 4%;
}

