.App {
  background-color: rgb(7, 0, 36);
  min-height: 100vh;
  max-height: 100%;
  color:#ffff;
  padding-bottom: 10%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
